@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.section-1 {
  background: #1f2937;
  color: #e5e7eb;
  font-family: "Montserrat", sans-serif;
  margin: -1rem;
}
.header {
  font-size: 18px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}

.search {
  font-family: "Montserrat", sans-serif;
  height: 10px;
  margin-top: -0.65rem;
  padding: 10px 20px;
  padding-bottom: 20px;
  border-radius: 25px;
  border: 3px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  overflow: hidden;
  resize: none;
}

.sub-section-1 {
  max-width: 900px;
  padding-top: 1rem;
  margin: auto;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  list-style: none;
  color: #e5e7eb;
}

.header-links {
  padding-top: 0.5em;
  display: flex;
  gap: 40px;
}
.header-logo {
  width: auto;
  height: 60px;
  margin-top: 15px;
}

.hero {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin: 1.5 rem auto;
}

.hero-image {
  height: 240px;
  width: auto;
}

.hero-text {
  margin-right: 4rem;
}

.hero-head {
  margin-top: -0.26rem;
}
.sign-up {
  background-color: #3882f6;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  color: #e5e7eb;
  border: none;
  padding: 8px 30px;
  margin-bottom: 2rem;
  font-weight: 900;
}

.sign-up:hover {
  background-color: rgb(9, 79, 119);
}

/*_________________________ Section-2 _________________________________ */

.section-2 {
  font-family: montserrat, sans;
  margin-bottom: 6rem;
}

span {
  font-weight: 700;
}

.sub-section-2 {
  margin: 0rem 6rem;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
}

.test {
  display: flex;
  font-size: 10px;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

.shoes {
  height: 250px;
  width: auto;
  max-width: fit-content;
  margin-top: -1rem;
  object-fit: cover;
  border-radius: 20px;

  border: solid black;
}

.card-text {
  padding: 5px 15px;
  text-align: center;
  text-decoration-color: red;
}

.header-2 {
  font-style: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 4rem auto;
}

/* _________________________ section -3_________________________  */

.section-3 {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e7eb;
  padding: 3rem;
}

.sub-section-3 {
  margin: auto 10rem;
}

.main-text {
  font-size: 30px;
  font-style: italic;
  display: flex;
  color: #1f2937;
  flex-direction: column;
}

.name {
  display: flex;
  justify-content: flex-end;
  font-weight: 550;
}

/* Section -4 */

.section-4 {
  font-family: "Montserrat", sans-serif;
  padding: 3rem;
}

.box-section-4 {
  background-color: #3882f6;
  padding: 2rem 5rem;
  border-radius: 10px;
  margin: auto 6rem;
  display: flex;
  justify-content: space-between;
}

.sign {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sign-up-2 {
  font-family: "Montserrat", sans-serif;
  border: #f9f8f9 solid;
  color: #f9f8f9;
  background-color: #3882f6;
  padding: 7px 30px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
}

.sign-up-2:hover {
  border: #3882f6 solid;
  background-color: #2b58a0;
}

.head-3 {
  font-weight: 700;
  font-size: 20px;
  color: #f9f8f9;
}

.sub-3 {
  margin-top: -1rem;
  color: #f9f8f9;
}
